/* reset  */

/* base */

/* header */

/* main */

/* footer */

/* state */

/*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.25;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

/* base */

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/** Generics **/

.width-100 {
  width: 100%;
}

.color-white {
  color: #fff;
}

.center-items {
  margin: 0 auto;
}

.dflex {
  display: flex;
}

.flex-top {
  align-items: flex-start;
}

.dflex-justify-space {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.font-small {
  font-size: 13px;
  color: rgb(177, 174, 174);
}

.font-small-2x {
  font-size: 12px;
  color: rgb(177, 174, 174);
}

.font-small-3x {
  font-size: 11px;
  color: rgb(177, 174, 174);
}

.dflex-column {
  display: flex;
  flex-direction: column;
}

.common-color {
  color: #f42;
}

/* header */

.small-logo {
  background-color: #f42;
  background: linear-gradient(to bottom right ,#c09, #f42 85%);
  width: 106px;
  height: 48px;
}

.small-logo img {
  display: block;
  width: 62%;
  padding-top: 16px;
  margin: 0 auto;
} 

.fa-search {
  border-right: 1px solid grey;
  padding: 15px 14px 10px 15px;
  border-left: 1px solid grey;
}

.fa-bars {
  padding: 15px 14px 10px 15px;
}

.second-nav-mobile {
  height: 50px;
  background-color: #fd3;
  font-size: 12px;
}

.second-nav-mobile p {
  height: 25%;
  margin-top: 20px;
  padding-left: 5px;
}

.article-cards-small {
  width: 95%;
  margin: 0 auto 8px ;

}

.main-pic {
  background: linear-gradient( 360deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.115) 100% ), url(/Images/1.png); 
  height: 28vh;
  color: white;
  background-size: cover;
}

.main-pic2 {
  background: linear-gradient( 360deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.115) 100% ), url(/Images/2.jpg); 
  height: 28vh;
  color: white;
  background-size: cover;
}

.main-pic3 {
  background: linear-gradient( 360deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.115) 100% ), url(/Images/3.jpeg); 
  height: 28vh;
  color: white;
  background-size: cover;
}

.article-cards-small h4 {
  font-weight: 400;
}

.article-cards-small h2 {
  font-size: 17px;
  width: 95%;
  line-height: 25px;
}

.article-cards-small-items {
  padding: 7px 0 7px 3%;
}

.font-small-fa {
  font-size: 17px;
  padding-left: 12px;
}

.main-pic2-h2 {
  padding: 100px 0 0 3%;
}

.main-pic3-h2 {
  padding: 73px 0 0 3%;
}

.latest-news-small {
  width: 90%;
  margin: 0 auto;
}

.latest-news-aritcle-row {
  height: 75px;
  width: 100%;
  margin: 20px 0;
  line-height: 20px;
}

.latest-news-aritcle-row img {
  height: 100%;
  width: 75px;
  object-fit: cover;
  object-position: 50%;
  margin-right: 13px;
}

.latest-news-small h1 {
  font-size: 21px;
}

.latest-news-aritcle-row h2 {
  font-size: 14px;
}

.latest-funding-round-small {
  width: 90%;
  margin: 0 auto;
}

.funding-section-article-cards {
  position: relative;
}

.funding-section-article-cards img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10.6px;
  height: 60px;
  width: 60px;
  z-index: 2;
}

.funding-section-article-card-header {
  background-color: #f42;
  padding: 10.6px 16px 10.6px 84px;
}

.funding-section-article-card-body {
  background: rgba(255,68,34,.08);
  padding: 10.6px 16px 10.6px 84px;
}

.funding-section-article-card-footer {
  padding: 16px 16px 0 16px;
  font-size: 13px;
  color: #555;
  background-color: #fffaf8;
  border-bottom: 1px solid #ffccc3;
}

.funding-section-article-card-footer i {
  color: black;
  padding-right: 10px;
  font-size: 15px;
}

.funding-section-article-card-footer p {
  padding-bottom: 16px;
}

.funding-section-article-card-footer2 {
  padding: 10px 16px 16px;
  background-color: #fffaf8;
  margin-bottom: 20px;
}

.funding-section-article-card-footer2 small {
  line-height: 21px;
  font-size: 12px;
}

.footer-icons {
  padding-top: 30px;
  justify-content: center;
  list-style: none;
}

.footer-li {
  padding: 10px 10px 10px 10px;
  margin-right: 8px;
  color: white;
  border: solid 1px rgb(51,51,51);
  border-radius: 20px;
  background-color: rgb(51,51,51);
}

.footer {
  background-color: rgb(27, 26, 26);
}

.last-icon {
  margin-top: -26px;
}

.footer-links {
  font-size: 12px;
  margin-right: 8px;
  color: rgb(126, 121, 121);
}

.footer-legal {
  
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
}

.footer-links2 {
  justify-content: center;
  font-size: 17px;
}
